.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.error-image-box {
  margin-left: 40px; /* Increase margin to create more space */
  position: relative;
}

.error-text-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.error-title {
  font-weight: bold;
  color: #808080;
  margin-bottom: 8px; /* Adjust margin to move text higher */
}

.error-subtitle {
  font-weight: normal;
  color: #565F73;
  margin-bottom: 8px; /* Adjust margin to move text higher */
}

.error-description {
  font-weight: light;
  color: #6e6e6e;
  margin-bottom: 8px; /* Adjust margin to move text higher */
}

.error-button {
  margin-top: 20px;
  margin-bottom: 20px; /* Add margin between button and other text elements */
}

.error-code {
  font-size: 3rem;
  font-weight: bold;
  position: absolute;
  top: 20%; /* Position at the top fifth of the image */
  left: 50%;
  transform: translate(-50%, -50%);
}

.error-image {
  width: 500px;
  height: 500px;
  pointer-events: none; /* Make the image static */
  user-select: none; /* Prevent text selection */
}
