#root {
    height: 100%;
    width: 100%;
}

@media (max-width: 599px) {
    #navbar .login-button {
        display: none;
    }

    .MuiDrawer-paper {
        background-color: inherit;
        color: inherit;
    }

    .side-drawer .login-button {
        display: block;
    }
}